html {
	font-size: 10px;
}

body {
	font-family: Arial;
}

div {
	display: inline-block;
}

li {
    list-style-type: disc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0 2rem;
}
.buttonnow {
	background-color: #F4F416;
	padding:1rem;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
    bottom: 2rem;
    position:absolute;
    margin-left: 35rem;
    margin-right: 35rem;
    display: block;

}

.toplogo {
	color: white;
	font-weight:2rem;
	font-size:4rem;
	float: left;
}

.boatheader {
	width: 100%;
	background-image: url('ocean-storm-panorama-matt-dobson.jpg');
	padding: 2rem 2rem;
	width: 100%;
	height:25rem;
	margin: 0 auto;
	position:relative;
}

.article {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #F2F6F5;
	font-size: 2rem;
	color: #01224B;
	height: 40rem;
	width:100%;
	margin: 0 auto;
}

.articlecontent {
	padding: 2rem;
}

.list {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #F2F6F5;
	font-size: 2rem;
	display:inline;
}

.quote {
	background-image: url('Blue-Wave-Storm-600x375.jpg');
	height: 25rem;
	width: 100%;
}

.quotebody{
	color: #F2F6F5;
	margin: 2rem;
	font-size: 3rem;
	margin-left: 10rem;
    margin-right: 10rem;
    display: block;
}

.yellowbar {
	background-color: #F4F416;
	width: 100%;
	height:10rem;
	position:relative
}

.buttonsignup {
	background-color: #01224B;
	color: #F2F6F5;
	position:absolute;
	bottom: 4rem;
	margin-left: 35rem;
    margin-right: 35rem;
    display: block;
}

.footer {
	background-color:black;
	width: 100%;
	height: 10rem;
}

.logo {
	color:#F4F416;
	margin-left: 35rem;
    margin-right: 35rem;
    display: block;
}

.navigation {
	color:#F4F416;
	margin-left: 35rem;
    margin-right: 35rem;
    display: block;
}

.copyright {
	color:white;
	margin-left: 35rem;
    margin-right: 35rem;
    display: block;
}